<div
class="modal fade"
id="filtermodal"
data-mdb-backdrop="static"
data-mdb-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0px;">
        <button type="button" class="btn-close" onclick="$('#filtermodal').modal('hide');" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/map">
        <input type="text" name="filter">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="$('#filtermodal').modal('hide');">Filter Map</button>
      </form>
        <button type="button" class="btn btn-danger" onclick="$('#filtermodal').modal('hide');">Close</button>
      </div>
    </div>
  </div>
</div>