<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}
    <p style="padding-top: 5px; font-size: 20px; font-weight: bold !important;">Walks in Heriot-Watt University</p>
    {{ range .events }}

    <div id="walks" class="p-5">
    <div class="container">
    <div class="row g-4">
    <div class="col-md-6 col-lg-3">
    <div class="card">
    <img src="{{.Image}}" onerror="this.onerror;this.src='/static/img/logo.png'" style="width: 300px; height: 150px;"/>
 
    <p>{{.Eventtittel}}</p>
    <p>{{.Eventtype}}</p>
    <p>{{.Description}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>

    {{ end }}
    {{template "navbarmobile.html"}}
    {{template "scripts.html"}}

    <!-- activating service-worker -->
    
    <script>

      // var events = ' {{ .events }}';
      // console.log(events);
        
      if ('serviceWorker' in navigator) { //checks if service worker is supported on the browser
          navigator.serviceWorker.register('service-worker.js', {scope: '/'})
          .then(function(reg) {
              console.log('Registration successful, scope is:', reg.scope);
          })
          .catch(function(error) {
              console.log('Service worker registration failed, error:', error);
          });
      }
      

    </script>

  </body>

{{template "footer.html"}}