<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}

    <img src="{{.image}}" style="width: 300px; height: 150px;"/>
    <p>{{.eventtittel}}</p>
    <p>{{.eventtype}}</p>
    <p>{{.description}}</p>

    {{template "navbarmobile.html"}}
    {{template "scripts.html"}}
  <script>
    //var image = '{{.image}}';
    //$('#image').attr("src", image);

    getuserlocation();

    const errorCallback = (error) => {
      console.error(error);
    };

    function getuserlocation(){
      navigator.geolocation.getCurrentPosition(errorCallback);
      setTimeout(getuserlocation, 2000);
    };

  </script>

  </body>

{{template "footer.html"}}