  <div
  class="modal fade"
  id="infomodal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="event_title"></h5>
          <button type="button" class="btn-close" onclick="$('#infomodal').modal('hide');" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <img id="image" src="" style="width: 100%; height: 30%;" />
          </div>
        <div>
          <p id="description"></p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" href="/scan" onclick="location.href = '/scan'" class="btn btn-primary">Scan</button>
          <button type="button" class="btn btn-danger" onclick="$('#infomodal').modal('hide');">Close</button>
        </div>
      </div>
    </div>
  </div>