  <div
  class="modal fade"
  id="infomodal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0px;">
          <button type="button" class="btn-close" onclick="$('#infomodal').modal('hide');" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <img id="image" src="" onerror="this.onerror;this.src='/static/img/logo.png'" style="width: 100%; height: 30%; border-radius: 10px;"/>
          </div>
        <div style="padding-top: 10px;">
          <p style="padding-top: 5px; font-size: 20px; font-weight: bold !important;" id="event_title"></p>
          <p>Organized By <p id="organized_by"></p></p>
          <p>Date and time</p>
          <p id="date"></p>
          <p></p>
          <h2 style="padding-top: 10px; font-weight: bold !important;">About this event</h2>
          <p id="description"></p>
        </div>
        <hr class="justify-content-center hr pt-0" style="width: 100%;">
        <div>
          <p>Contact the Organizer</p>
          <p>Email: <p id="email"></p></p>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" href="/scan" onclick="location.href = '/scan'" class="btn btn-primary">Scan</button>
          <button type="button" class="btn btn-danger" onclick="$('#infomodal').modal('hide');">Close</button>
        </div>
      </div>
    </div>
  </div>