<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}
   
    <div id="map"></div>

    {{template "navbarmobile.html"}}
    {{template "infomodal.html"}}
    {{template "scripts.html"}}
    <script>
        let map;

        function initMap(){
            var options = {
                center: { lat: 55.909769499991654, lng: -3.3205147727103452 },
                zoom: 16,
                mapTypeId: 'satellite',
            }

            var map = new google.maps.Map(document.getElementById('map'), options);
            
            map.data.loadGeoJson('static/HWUevents.geojson');

            map.data.addListener('click', function (event) {
                var event_title = event.feature.getProperty('eventtittel');
                var image = event.feature.getProperty('image');
                var description = event.feature.getProperty('description');

                $('#event_title').html(event_title);
                $('#image').attr("src", image);
                $('#description').html(description);
                $('#infomodal').modal('show');
            });
        } 

    

    </script>

    <script async 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfMTAfaDTcu0sW9YzHIHdvV8NGA4YFoGI&callback=initMap"
        type="text/javascript"></script>
  </body>

{{template "footer.html"}}