<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}
    <div id="map"></div>

    {{template "navbarmobile.html"}}
    {{template "filtermodal.html"}}
    {{template "infomodal.html"}}
    {{template "scripts.html"}}
    <script>
        var featureCollection = '{{.featureCollection}}';
        console.log(featureCollection);



        let map;

        //initiate getting user location
        getLocation();

        //user gets an error messaged based on the error code
        const getErrorOfPosition = code => {
            switch (code) {
                case 1:
                    return 'Permission denied.';
                case 2:
                    return 'Position unavailable.';
                case 3:
                    return 'Timeout reached.';
            }
        };

        function showError(error)
            {
            switch(error.code) 
                {
                case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
                case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
                case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
                case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
                }
            };

        function errorCallback(error)
            {
                console.error(error);
            };

        //checks to see the users browers supports geolocation
        const getCurrentPosition = ({ onSuccess, onError = () => { } }) => {
            if ('geolocation' in navigator === false) {
                return onError(new Error('Geolocation is not supported by your browser, try again on a different browser.'));
            }

            return navigator.geolocation.getCurrentPosition(onSuccess, onError, {timeout:10000});
            };

        const trackLocation = ({ onSuccess, onError = () => { } }) => {
            if ('geolocation' in navigator === false) {
                return onError(new Error('Geolocation is not supported by your browser, try again on a different browser.'));
            }
                return navigator.geolocation.watchPosition(onSuccess, onError, {enableHighAccuracy: true, timeout: 10000, maximumAge: 0});
        };


        function getLocation(){
                if (navigator.geolocation)
                    {
                    navigator.geolocation.getCurrentPosition(showError);
                    setTimeout(getLocation, 2000);
                    }
                else{alert("Geolocation is not supported by this browser.");}
            };


        function CenterControl(controlDiv, map) {
        // Set CSS for the control border.
        const controlUI = document.createElement("div");

        controlUI.style.backgroundColor = "#fff";
        controlUI.style.border = "2px solid #fff";
        controlUI.style.borderRadius = "3px";

        controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
        controlUI.style.cursor = "pointer";
        controlUI.style.marginTop = "8px";
        controlUI.style.marginBottom = "22px";
        controlUI.style.textAlign = "center";
        controlUI.title = "Click to recenter the map";
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        const controlText = document.createElement("div");

        controlText.style.color = "rgb(25,25,25)";
        controlText.style.fontFamily = "Roboto,Arial,sans-serif";
        controlText.style.fontSize = "16px";
        controlText.style.lineHeight = "38px";
        controlText.style.paddingLeft = "5px";
        controlText.style.paddingRight = "5px";
        controlText.innerHTML = "Filter Events";
        controlUI.appendChild(controlText);
        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener("click", () => {
            $('#filtermodal').modal('show');
        });
        }


        function initMap(){
            var options = {
                center: { lat: 55.909769499991654, lng: -3.3205147727103452 },
                zoom: 16,
                mapTypeId: 'satellite',
            }

            const initialPosition = { lat: 55.909392, lng: -3.316438 };
            var map = new google.maps.Map(document.getElementById('map'), options);
            
            var marker = new google.maps.Marker({ 
                map, 
                position: initialPosition,
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillOpacity: 1.0,
                    fillColor: "blue",
                    strokeColor: "#FFFFFF",
                    strokeWeight : 2,
                    scale: 8,
                }
            });

             

        
            // map.data.loadGeoJson('static/HWUevents.geojson');
            var geojson = JSON.parse(featureCollection);
            map.data.addGeoJson(geojson);
           

            map.data.addListener('click', function (event) {
                var event_title = event.feature.getProperty('eventtittel');
                var organized_by = event.feature.getProperty('organizedBy');
                var image = event.feature.getProperty('image');
                var description = event.feature.getProperty('description');
                var date = event.feature.getProperty('eventdate');

                $('#event_title').html(event_title);
                $('#organized_by').html(organized_by);
                $('#image').attr("src", image);
                $('#description').html(description);
                $('#date').html(date);
                $('#infomodal').modal('show');
            });



            getCurrentPosition({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                marker.setPosition({ lat, lng });
                map.panTo({ lat, lng });
                },
                onError: err =>
                alert(`Error: ${getPositionErrorMessage(err.code) || err.message}`)
            });

            trackLocation({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                marker.setPosition({ lat, lng });
                map.panTo({ lat, lng });
                },
                onError: err =>
                alert(`Error: ${getErrorOfPosition(err.code) || err.message}`)
            });

            const centerControlDiv = document.createElement("div");

            CenterControl(centerControlDiv, map);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
        } 

    

    </script>

    <script async 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfMTAfaDTcu0sW9YzHIHdvV8NGA4YFoGI&callback=initMap"
        type="text/javascript"></script>
  </body>

{{template "footer.html"}}