<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}
    <div class="toast" autohide="false" style="z-index: 99 !important; position:absolute !important; margin: 0 auto; left: 0; right: 0; margin-top: 8px;" id="notify" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <p>Event NearBy: <a id="eventtitle"></a></p>
          <div class="mt-2 pt-2 border-top">
            <button type="button" class="btn btn-primary btn-sm" onclick="$('#notify').toast('hide'); infomodal();">More information</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="$('#notify').toast('hide');" data-bs-dismiss="toast">Close</button>
          </div>
        </div>
      </div>

    <div id="map"></div>

    {{template "navbarmobile.html"}}
   
    <div
    class="modal fade"
    id="filtermodal"
    data-mdb-backdrop="static"
    data-mdb-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0px;">
            <button type="button" class="btn-close" onclick="$('#filtermodal').modal('hide');" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/map">
                <!-- {{ range .filterTypes }}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="filter" value="{{.Eventtype}}" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">{{.Eventtype}}</label>
                </div>
                {{ end }} -->
            
            <select class="select" size="5" style="width: 100px;" name="filter" multiple data-mdb-container="#exampleModal" data-mdb-filter="true">
                {{ range .filterTypes }}
                <option value="{{.Eventtype}}" >{{.Eventtype}}</option>
                {{ end }}
            
            </select>
           <!-- <input type="text" name="filter">  -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" onclick="$('#filtermodal').modal('hide');">Filter Map</button>
        </form>
            <button type="button" class="btn btn-danger" onclick="$('#filtermodal').modal('hide');">Close</button>
        </div>
        </div>
    </div>
    </div>

    

    {{template "infomodal.html"}}

    
    {{template "scripts.html"}}
    <script>
        // var filterTypes = '{{.filterTypes}}';
        // console.log(filterTypes);

        var featureCollection = '{{.featureCollection}}';
        var geofencediscovered = 0;
        console.log(featureCollection);
        
        let map;

        //initiate getting user location
        getLocation();

        function notifyUser (data) {
            $('#notify').toast('hide');
            console.log("test:");
            console.log(data.Eventtittel);
            var event_title = data.Eventtittel;
            var organized_by = data.OrganizedBy;
            var date = data.EventStartdDate;

            $('#eventtitle').html(event_title);
            $('#organizedby').html(organized_by);
            $('#startdate').html(date);
            $('.toast').toast({autohide: false});
            $('#notify').toast('show');
        }

        function infomodal() {
            console.log(geofencedata);
            $('#infomodal').modal('hide');
            var event_title = geofencedata.Eventtittel;
            var organized_by = geofencedata.OrganizedBy;
            var image = geofencedata.Image;
            var description = geofencedata.Description;
            var date = geofencedata.EventStartdDate;

            $('#event_title').html(event_title);
            $('#organized_by').html(organized_by);
            $('#image').attr("src", image);
            $('#description').html(description);
            $('#date').html(date);
            $('#infomodal').modal('show');
        }

        //user gets an error messaged based on the error code
        const getErrorOfPosition = code => {
            switch (code) {
                case 1:
                    return 'Permission denied.';
                case 2:
                    return 'Position unavailable.';
                case 3:
                    return 'Timeout reached.';
            }
        };

        function showError(error)
            {
            switch(error.code) 
                {
                case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
                case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
                case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
                case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
                }
            };

        function errorCallback(error)
            {
                console.error(error);
            };

        //checks to see the users browers supports geolocation
        const getCurrentPosition = ({ onSuccess, onError = () => { } }) => {
            if ('geolocation' in navigator === false) {
                return onError(new Error('Geolocation is not supported by your browser, try again on a different browser.'));
            }

            return navigator.geolocation.getCurrentPosition(onSuccess, onError, {timeout:10000});
            };

        const trackLocation = ({ onSuccess, onError = () => { } }) => {
            if ('geolocation' in navigator === false) {
                return onError(new Error('Geolocation is not supported by your browser, try again on a different browser.'));
            }
                return navigator.geolocation.watchPosition(onSuccess, onError, {enableHighAccuracy: true, timeout: 10000, maximumAge: 0});
        };


        function getLocation(){
                if (navigator.geolocation)
                    {
                    navigator.geolocation.getCurrentPosition(Geofence, showError);
                    setTimeout(getLocation, 2000);
                    }
                else{alert("Geolocation is not supported by this browser.");}
            };

        var geofencedata;
        
        function Geofence(position) {
            lat=position.coords.latitude;
            lng=position.coords.longitude;
            // lat=55.9321374;
            // lng=-3.2100789;
            
            $.ajax({
                            url: "/ingeofence/" + lat + "/" + lng + "/" + geofencediscovered,
                            method: "POST",
                            contentType:'application/json&apos',
                            dataType: 'json',
                            cache: false,
                            scriptCharset: 'utf-8',
                        }). done (function (jsondata) {
                           var data = $.parseJSON(jsondata);
                           geofencedata = data;
                           geofencediscovered = data.Id;
                           console.log(geofencediscovered);
                           console.log("geo");
                           console.log(geofencedata);
                           console.log(data);
                           if (data == "null"){
                            console.log("user is not in Geofence");
                           } else {
                            notifyUser(data);
                           }
                        });
        };

        function CustomControl(controlDiv, map) {
         // Set CSS for the control border.
        const controlUI = document.createElement("div");

        controlUI.style.backgroundColor = "#fff";
        controlUI.style.border = "2px solid #fff";
        controlUI.style.borderRadius = "3px";

        controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
        controlUI.style.cursor = "pointer";
        controlUI.style.marginTop = "8px";
        controlUI.style.marginBottom = "22px";
        controlUI.style.textAlign = "center";
        controlUI.title = "Filter Events";
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        const controlText = document.createElement("div");

        controlText.style.color = "rgb(25,25,25)";
        controlText.style.fontFamily = "Roboto,Arial,sans-serif";
        controlText.style.fontSize = "16px";
        controlText.style.lineHeight = "38px";
        controlText.style.paddingLeft = "5px";
        controlText.style.paddingRight = "5px";
        controlText.innerHTML = "Filter Events";
        controlUI.appendChild(controlText);
        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener("click", () => {
            $('#filtermodal').modal('show');
            //$('#notify').toast('show');
        });

       
        }

        var trackinglocation = false;

        function CustomControl1(controlDiv, map) {
        // Set CSS for the control border
        var controlUI1 = document.createElement('div');

        controlUI1.style.backgroundColor = "#fff";
        controlUI1.style.border = "none";
        controlUI1.style.borderRadius = "3px";
        controlUI1.style.outline = 'none';
        //controlUI1.style.width = '60px';
        controlUI1.style.height = '42px';
        controlUI1.style.marginRight = '10px';

        controlUI1.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
        controlUI1.style.cursor = "pointer";
        controlUI1.style.marginTop = "8px";
        controlUI1.style.marginBottom = "22px";
        controlUI1.style.textAlign = "center";
        controlUI1.title = "MyLocation";
        controlDiv.appendChild(controlUI1);

        // Set CSS for the control interior
        var controlText1 = document.createElement('div');
        controlText1.style.color = "blue";
        controlText1.style.fontFamily = "Font Awesome 5 Free";
        controlText1.style.fontSize = "16px";
        controlText1.style.lineHeight = "38px";
        controlText1.style.paddingLeft = "5px";
        controlText1.style.paddingRight = "5px";
        controlText1.innerHTML = "<img src=\"/static/img/location.svg\" width=\"32px\" height=\"32px\">";
        controlUI1.appendChild(controlText1);
        
        controlUI1.addEventListener("click", () => {
           if(trackinglocation){
            trackinglocation = false;
            console.log(trackinglocation);
           }else{
            trackinglocation = true;
            lat= userLatitude;
            lon= userLongitude;
            console.log(lat);
            console.log(lon);
            latlon=new google.maps.LatLng(lat, lon);
            map.panTo(latlon);
            console.log(trackinglocation);
           }
        });
      
        }

        function CustomControl2(controlDiv, map) {
         // Set CSS for the control border.
        const controlUI2 = document.createElement("div");

        controlUI2.style.backgroundColor = "#fff";
        controlUI2.style.border = "2px solid #fff";
        controlUI2.style.borderRadius = "3px";

        controlUI2.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
        controlUI2.style.marginRight = '10px';
        controlUI2.style.cursor = "pointer";
        controlUI2.style.marginTop = "8px";
        controlUI2.style.marginBottom = "22px";
        controlUI2.style.textAlign = "center";
        controlUI2.title = "Search Area";
        controlDiv.appendChild(controlUI2);

        // Set CSS for the control interior.
        const controlText2 = document.createElement("div");

        controlText2.style.color = "rgb(25,25,25)";
        controlText2.style.fontFamily = "Roboto,Arial,sans-serif";
        controlText2.style.fontSize = "16px";
        controlText2.style.lineHeight = "38px";
        controlText2.style.paddingLeft = "5px";
        controlText2.style.paddingRight = "5px";
        controlText2.innerHTML = "Search Area";
        controlUI2.appendChild(controlText2);
       
        controlUI2.addEventListener("click", () => {
            searcharea(NE, SW);
            
        });
        }

        function searcharea(NE, SW) {
            var NElat = NE.lat();
            var NElng = NE.lng();
            var SWlat = SW.lat();
            var SWlng = SW.lng();
            
            $.ajax({
                            url: "/searcharea/" + SWlng + "/" + SWlat + "/" + NElng + "/" + NElat,
                            method: "POST",
                            contentType:'application/json&apos',
                            dataType: 'json',
                            cache: false,
                            scriptCharset: 'utf-8',
                        }). done (function (jsondata) {
                           //var data = $.parseJSON(jsondata);
                           console.log("retunr from db  " + jsondata);
                           //geojson = JSON.parse(data);
                           var searchgeaojson = JSON.parse(jsondata);
                           initMap(searchgeaojson);
                           
                        });
        };

        var userLatitude;
        var userLongitude;
    
        
        var NE;
        var SW;

        function initMap(searchgeaojson){
            var options = {
                center: { lat: 55.909769499991654, lng: -3.3205147727103452 },
                zoom: 12.5,
                mapTypeId: 'satellite',
            }

       
            //const initialPosition = { lat: 55.909392, lng: -3.316438 };
            const initialPosition = { lat: 55.929096, lng: -3.210064 };
            var map = new google.maps.Map(document.getElementById('map'), options);
            
            var marker = new google.maps.Marker({ 
                map, 
                position: initialPosition,
                icon: {
                    path: google.maps.SymbolPath.CIRCLE,
                    fillOpacity: 1.0,
                    fillColor: "blue",
                    strokeColor: "#FFFFFF",
                    strokeWeight : 2,
                    scale: 8,
                }
            });

            

        
            // map.data.loadGeoJson('static/HWUevents.geojson');
            
            var geojson = JSON.parse(featureCollection);
            var searchgeaojson = searchgeaojson;
            //loads in the geojson file with all events
            if (searchgeaojson != null) {
                map.data.addGeoJson(searchgeaojson);
            } else {
                map.data.addGeoJson(geojson);
            }
            

          

           

            var bounds = new google.maps.LatLngBounds();

            map.data.setStyle(function(feature) {

                var longitude = feature.getProperty('longitude');
                var latitude = feature.getProperty('latitude');
                if (latitude != null & longitude != null){
                console.log(latitude);
                bounds.extend(new google.maps.LatLng(latitude, longitude));
                }
                //zooms out the map to fit all events in 
                if (bounds != null){
                    google.maps.event.addListener(map, 'zoom_changed', function() {
                    zoomChangeBoundsListener = 
                        google.maps.event.addListener(map, 'bounds_changed', function(event) {
                            if (this.getZoom() > 15 && this.initialZoom == true) {
                                // Change max/min zoom here
                                this.setZoom(15);
                                this.initialZoom = false;
                            }
                        google.maps.event.removeListener(zoomChangeBoundsListener);
                        });
                    });
                map.initialZoom = true;
                map.fitBounds(bounds);
                }
            
                var type = feature.getProperty('eventtype');
                if (type == "ski"){
                    var event = {
                    text: "\ue509", // codepoint from https://fonts.google.com/icons
                    fontFamily: "Material Icons",
                    color: "#ffffff",
                    fontSize: "18px",
                    };
                } else if (type == "walk"){
                    var event = {
                    text: "\ue536", 
                    fontFamily: "Material Icons",
                    color: "#ffffff",
                    fontSize: "18px",
                    };
                } else if (type == "cycle"){
                    var event = {
                    text: "\ue52f", 
                    fontFamily: "Material Icons",
                    color: "#ffffff",
                    fontSize: "18px",
                    };
                }
             return {label: event};
            });

            

            map.data.addListener('click', function (event) {
                var event_title = event.feature.getProperty('eventtittel');
                var organized_by = event.feature.getProperty('organizedby');
                var image = event.feature.getProperty('image');
                var description = event.feature.getProperty('description');
                var startdate = event.feature.getProperty('eventstartdate');
                var enddate = event.feature.getProperty('eventenddate');
                var starttime = event.feature.getProperty('eventstarttime');
                var endtime = event.feature.getProperty('eventendtime');
                var eventlink = event.feature.getProperty('eventlink');
                let s = new Date(startdate);
                var sd = s.toLocaleDateString("en-GB", {year: 'numeric', month: 'short', day: 'numeric' });
                let e = new Date(enddate);
                var ed = s.toLocaleDateString("en-GB", {year: 'numeric', month: 'short', day: 'numeric' });

                

                $('#event_title').html(event_title);
                $('#organized_by').html(organized_by);
                $('#image').attr("src", image);
                $('#description').html(description);
                $('#startdate').html(sd);
                $('#enddate').html(ed);
                $('#starttime').html(starttime);
                $('#endtime').html(endtime);
                $('#eventlink').html(eventlink);
                $('#infomodal').modal('show');
            });

            google.maps.event.addListener( map, "bounds_changed", function() {
                var bounds = map.getBounds();
                NE = bounds.getNorthEast();
                SW = bounds.getSouthWest();
                console.log("bounds" + NE.lat() + "," + NE.lng() + "SW " + SW.lat() + "," + SW.lng());
            })

            getCurrentPosition({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                marker.setPosition({ lat, lng });
                userLatitude = lat;
                userLongitude = lng;
                if(trackinglocation) {
                map.panTo({ lat, lng });
                }
                },
                onError: err =>
                alert(`Error: ${getPositionErrorMessage(err.code) || err.message}`)
            });

            
            trackLocation({
                onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {
                marker.setPosition({ lat, lng });
                if(trackinglocation) {
                map.panTo({ lat, lng });
                }
                userLatitude = lat;
                userLongitude = lng;
                },
                onError: err =>
                alert(`Error: ${getErrorOfPosition(err.code) || err.message}`)
            });

            var customControlDiv = document.createElement('div');
            var customControl = new CustomControl(customControlDiv, map);
            customControlDiv.index = 1;
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(customControlDiv);
            var customControlDiv1 = document.createElement('div');
            var customControl1 = new CustomControl1(customControlDiv1, map);
            customControlDiv1.index = 2;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(customControlDiv1);
            var customControlDiv2 = document.createElement('div');
            var customControl2 = new CustomControl2(customControlDiv2, map);
            customControlDiv2.index = 3;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(customControlDiv2);

            
               
        } 

    

    </script>

    <script>
        var qr = '{{.qrscanned}}';
        console.log(qr);

         // if qr code has been scanned then modal will be shown with data of the event
        $(window).on('load', function() {
        
        if (qr == "true"){
            
                $('#infomodal').modal('hide');
                var event_title = "{{.Eventtittel}}";
                    // var organized_by = event.feature.getProperty('organizedBy');
                var image = "{{.Image}}";
                var description = "{{.Description}}";
                var EventStartdDate = "{{.EventStartdDate}}";
                var EventEndDate = "{{.EventEndDate}}";
                var EventStartTime = "{{.EventStartTime}}";
                var EventEndTime = "{{.EventEndTime}}";
                var EventLink = "{{.EventLink}}";
                qrscanned = false;
                $('#event_title').html(event_title);
                $('#organized_by').html(organized_by);
                $('#image').attr("src", image);
                $('#description').html(description);
                $('#startdate').html(EventStartdDate);
                $('#enddate').html(EventEndDate);
                $('#starttime').html(EventStartTime);
                $('#endtime').html(EventEndTime);
                $('#eventlink').html(EventLink);
                  
                $('#infomodal').modal('show');
            
        };
        });
       
        

    </script>

    <script async 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfMTAfaDTcu0sW9YzHIHdvV8NGA4YFoGI&callback=initMap"
        type="text/javascript"></script>
  </body>

{{template "footer.html"}}