<footer>
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <div class="container navbar-nav justify-content-evenly align-items-center d-flex flex-row">
            <a class="nav-link" href="/home"><i class="fas fa-home"></i></a>
            <a class="nav-link" href="/map"><i class="fas fa-map"></i></a>
            <a class="nav-link" href="/addevent"><i class="fas fa-calendar-alt"></i></a>
            <a class="nav-link" href="/"><i class="fas fa-qrcode"></i></a>
      </div>
    </div>
  </nav>
</footer>