<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}

    <div style="width: 500px" id="reader"></div>


    {{template "navbarmobile.html"}}
    {{template "scripts.html"}}
    
    <script>
      function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
      }

      function onScanError(errorMessage) {
        // handle on error condition, with error message
      }

      var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });
      html5QrcodeScanner.render(onScanSuccess);


    </script>

  </body>

{{template "footer.html"}}