<!DOCTYPE html>
<html lang="en">

{{template "header.html"}}

  <body>
    {{template "navbar.html"}}
    {{template "navbarmobile.html"}}
   
   
    {{template "scripts.html"}}
    <div class="d-flex align-items-center justify-content-center" style="padding-top: 30px;">
    <ul class="list-group" style="padding-top: 2px; text-align: center; width: 80%;" >
      <li class="list-group-item">Add Your Event</li>
      <a href="https://mobilesyrup.com/2020/05/24/how-install-progressive-web-app-pwa-android-ios-pc-mac/" class="list-group-item">How to add VentureOut to home screen</a>
      <li class="list-group-item">Github Project</li>
      <li class="list-group-item">Developed by <a href="https://www.linkedin.com/in/lucasarenaterry/">Lucas Arena Terry</a></li>
    </ul>
  </div>
  </body>

{{template "footer.html"}}